1. Pandas is an open-source Python library that provides high-performance, easy-to-use data structures and data analysis tools. Its primary purpose is to facilitate data manipulation, cleaning, exploration, and analysis in Python.

Pandas is particularly well-suited for:

Data manipulation,
Data cleaning,
Data exploration,
Data analysis.

In [2]:
import pandas as pd

3. The two primary data structures in Pandas are:

Series: A Series is a one-dimensional labeled array capable of holding any data type (e.g., integers, floats, strings, etc.). It is similar to a NumPy array but is associated with an index. The index provides a label for each element in the Series, allowing for fast and efficient data access and alignment.

DataFrame: A DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is akin to a spreadsheet or SQL table, where each column represents a different variable, and each row represents a different observation. DataFrames are particularly useful for handling tabular data and are the primary data structure used in Pandas for data manipulation and analysis.

The main differences between Series and DataFrame are:

Dimensionality: Series is one-dimensional, whereas DataFrame is two-dimensional. A Series represents a single column of data, while a DataFrame represents multiple columns of data organized into rows and columns.

Indexing: Each element in a Series has a labeled index, providing a unique identifier for each value. In contrast, a DataFrame has both row and column indexes. The row index labels the rows, while the column names label the columns. This allows for efficient indexing and alignment of data in both Series and DataFrame.

Flexibility: While Series are more limited in terms of structure (one-dimensional), DataFrames offer more flexibility due to their two-dimensional nature. DataFrames can represent more complex datasets with multiple variables and observations, making them suitable for a wider range of data analysis tasks.

In [3]:
import pandas as pd

# Create a dictionary
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Paris', 'London', 'Sydney']}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

    Name  Age      City
0   John   25  New York
1   Anna   30     Paris
2  Peter   35    London
3  Linda   40    Sydney

In [4]:
df

    Name  Age      City
0   John   25  New York
1   Anna   30     Paris
2  Peter   35    London
3  Linda   40    Sydney

In [26]:
import pandas as pd

print(df.head(2))

   Name  Age      City
0  John   25  New York
1  Anna   30     Paris

In [28]:
import pandas as pd

print(df['City'])

0    New York
1       Paris
2      London
3      Sydney
Name: City, dtype: object

7. Use loc[] when you want to select data based on labels (row and column names).
WHILE Use iloc[] when you want to select data based on integer positions.

In [3]:
import pandas as pd

# Assuming df is your DataFrame
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Paris', 'London', 'Sydney']}

df = pd.DataFrame(data)

# Example condition: filter rows where the 'Age' column is greater than 30
condition = df['Age'] > 30

# Apply the condition to filter rows
filtered_df = df[condition]

# Display the filtered DataFrame
print(filtered_df)

    Name  Age    City
2  Peter   35  London
3  Linda   40  Sydney